@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link rel="stylesheet" type="text/css" href="/ExtJs/resources/css/ext-all.css" />
    <script type="text/javascript" src="/ExtJs/ext-all-debug.js"></script>
    <script type="text/javascript" src="/ExtJs/index.js"></script>
</head>
<body>
</body>
</html>